<div class="form-group">
  <%= f.label(:first_name, "First Name", :class => "control-label") %>
  <%= f.text_field(:first_name) %>
</div>
<div class="form-group">
  <%= f.label(:last_name, "Last Name", :class => "control-label") %>
  <%= f.text_field(:last_name) %>
</div>