<table>
  <tr>
    <th><%= f.label(:name, "Name") %></th>
    <td><%= f.text_field(:name) %></td>
  </tr>
  <tr>
    <th><%= f.label(:item_type, "Type") %></th>
    <td><%= f.text_field(:item_type) %></td>
  </tr>
</table>