<h1>Items#new</h1>
<form action='create' method='get'>
  <table>
    <tr>
      <th>Name</th>
      <td><input type='text' name='item_name' /></td>
    </tr>
    <tr>
      <td><input type='submit' value='create' /></td>
    </tr>
  </table>
</form>